@import url('https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro|Tinos');
body {
    max-width: 980px;
    font-family: 'Source Sans Pro', sans-serif;
}

header,
body,
p,
sidebar,
div,
nav {
    margin: 0 auto;
}

header .banner {
    display: flex;
    background-image: url(../img/Books.jpg);
    background-size: cover;
    background-position: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    min-height: 353px;

}

header .banner h1 {

    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: white;
    letter-spacing: 2, 5px;
    padding-top: 20px;
    padding-left: 40px;
}

.navbar-nav {
    text-transform: uppercase;
    color: grey;
    font-size: 3.5vh;
}

.navbar-nav a {
    display: block;
    transition: all .5s linear 0s;
}

.navbar-nav a:hover {
    display: block;
    background-color: #e7e7e7;
    background: hsl(0, 0%, 74%);
}
.dropdown-menu {
    background-color: #e7e7e7;
}

main {
    display: flex;
}

aside {
    max-width: 20%;
    overflow: auto;
    background-color: #e7e7e7;

}

aside .popular {
    display: block;
    padding: 25px 20px;
    text-align: justify;
}

.popular h3,
.popular-hiden h3 {
    text-align: left;
    font-size: 3.5vh;
}

.popular a {
    display: block;
    text-decoration: none;
    color: #24282d;
    box-shadow: hsl(0, 0%, 62%), 0 2px 7px hsl(0, 0%, 44%);
    transition: all .4s linear 0s;

}

.popular a:hover {
    display: block;
    color: white;
    text-decoration: none;
    background: hsl(0, 0%, 74%);
    box-shadow: hsl(0, 0%, 62%), hsl(0, 0%, 44%), 0 2px 10px hsl(0, 0%, 62%);
}

section {
    max-width: 80%;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.review img {
    display: block;
    width: 100%;
}

.review {
    padding: 20px;
    margin: auto;
    text-align: justify;
}

section h2 {
    display: inline-block;
    font-family: 'Tinos', serif;
    text-transform: uppercase;
    margin: 30px 0 0 20px;
}

.review a img {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin: 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.review img:hover {
    color: #e7e77e;
}

.sidebar-hiden {
    display: none;
}

.popular-hiden {
    display: block;
    padding: 25px 20px;
    text-align: justify;
    overflow: auto;
    background-color: #e7e7e7;

}

.popular-hiden a {
    display: block;
    text-decoration: none;
    color: #24282d;
    box-shadow: hsl(0, 0%, 62%), 0 2px 7px hsl(0, 0%, 44%);
    transition: all .4s linear 0s;

}

.popular-hiden a:hover {
    color: white;
    text-decoration: none;
    background: hsl(0, 0%, 74%);
    box-shadow: hsl(0, 0%, 62%), hsl(0, 0%, 44%), 0 2px 10px hsl(0, 0%, 62%);
}


@media (max-width: 650px) {
    aside {
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sidebar-hiden {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

}

.ask-wrapper {
    display: grid;
    grid-template-columns: 20% 160px auto;
    width: 100%;
    border-top: 1px dotted grey;
    /*justify-content: center;*/
}

.questionary {
    grid-column: 2;
    align-items: center;
    padding-top: 70px;

}

@media (max-width: 650px) {
    .ask-wrapper {
        display: flex;
        justify-content: center;
    }
}

input {
    width: 510px;
    padding: 12px 20px;
    margin: 3px 0;
    border: 1px solid grey;
    border-radius: 4px;
}

.questionary button {
    height: 50px;
    width: 150px;
    padding: 5px 8px;
    border-radius: 0px 3px 3px 0px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: grey;
    box-shadow: hsl(0, 0%, 62%), 0 2px 7px hsl(0, 0%, 44%);
    transition: all .4s linear 0s;

}

.questionary button:hover {
    background-color: #78909c;
    color: white;
    box-shadow: hsl(0, 0%, 62%), hsl(0, 0%, 44%), 0 2px 10px hsl(0, 0%, 62%);
}
