@import url('https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro|Tinos');
body {
    width: 1100px;
    font-family: 'Source Sans Pro', sans-serif;
}

header,
body,
p,
div,
nav {
    margin: 0 auto;
}

.toggle-nav {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: white;
    letter-spacing: 2, 5px;
    min-height: 353px;
    background-image: url(../img/Books.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-left: 40px;

    /* 
    
    min-height: 465px;
    
    align-items: center;
    justify-content: center;
    */
}

.active {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    list-style-type: none;
    background-color: #e7e7e7;
    border: 1px solid grey;
    padding: 14px 16px;
}

.active li {
    margin: 0px 50px 0px 0px;
}

.active li a {
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Tinos', serif;
    letter-spacing: 2, 5px;
}

.active li a:hover {
    background-color: #666;
    color: white;
}

.search-form {
    float: right;
    display: inline-block;
}

.search-form input {
    width: 250px;
    height: 40px;
    padding: 0px 8px;
    float: left;
    border-radius: 3px 0px 0px 3px;
    font-size: 15px;
    margin-top: auto;
}

.search-form button {
    float: right;
    height: 40px;
    width: 90px;
    padding: 5px 8px;
    border-radius: 0px 3px 3px 0px;
    background: grey;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.search-form button:hover {
    background-color: black;
    color: white
}

@media (max-width: 650px) {
    header .menu {
        display: flex;
    }
    .active {
        flex: x1;
    }
}

main {
    display: flex;
}

sidebar {
    min-width: 20%;
    overflow: auto;
    background-color: #e7e7e7;

}

sidebar div {
    display: block;
    padding: 20px 10px;
    text-align: justify;
}

sidebar div h3 {
    text-align: left;
}

sidebar div a {
    text-decoration: none;
    color: #24282d;
}

sidebar div a :hover {
    border: 2px solid white;
}

section {
    max-width: 80%;
}

.wrapper {
    display: flex;
    align-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
}

.review img {
    display: block;
}

.review {
    padding: 20px;
    margin: auto;
    text-align: justify;
}

section h2 {
    display: inline-block;
    font-family: 'Tinos', serif;
    text-transform: uppercase;
    margin: 30px 0 0 20px;
}

section article a img {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin: 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.review img:hover {
    color: #e7e77e;
}

@media (max-width: 650px) {

    sidebar {
        display: none;
    }
    .wrapper {
        /*width: 100%;*/
        display: grid;
        grid-template-columns: 1fr;
    }
}

.questionary {
    display: flex;
    align-items: center;
    padding-top: 85px;
}



input,
textarea {
    width: 400px;
    padding: 12px 20px;
    margin: 3px 0;
    border: 1px solid grey;
    border-radius: 4px;
}











